/* Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  background-color: rgb(255, 213, 220);
}

.contact-page ul {
  display: flex;
  justify-content: center;
}

.contact-page ul li {
  margin: 2%;
}